<h2><strong>Alloy</strong> is a web API for compiling CSS using preprocessors.</h2>

<form method="post" class="form-inline">
  <div id="editor"></div>
  <div class="well">
    <label class="radio" for="radio_sass"><input type="radio" id="radio_sass" name="type" value="sass" checked/> SASS</label>
    <label class="radio" for="radio_scss"><input type="radio" id="radio_scss" name="type" value="scss"/> SCSS</label>
    <label class="radio" for="radio_less"><input type="radio" id="radio_less" name="type" value="less"/> Less</label>
    <label class="radio" for="radio_stylus"><input type="radio" id="radio_stylus" name="type" value="stylus"/> Stylus</label>

    <label class="checkbox" for="field_compress"><input id="field_compress" type="checkbox" name="compress" value="true"/> Compress Output</label>
    <button type="submit" class="btn btn-large btn-success pull-right">Compile</button>
  </div>
</form>

<pre id='result' style="display: none;"><code class="language-css"></code></pre>

<div id='api-docs'>
  <h3>API Reference</h3>

  <p>To use the Alloy API, you will make a simple <code>POST</code> request to <code>http://alloy.divshot.com/compile</code>. The request can either be of type <code>applicaton/json</code> or <code>application/x-www-form-encoded</code> and must include a <b>source</b> parameter with the uncompiled code and a <b>type</b> parameter. The <b>type</b> parameter can be any one of <code>sass</code>, <code>scss</code>, <code>less</code>, and <code>stylus</code>.</p>

  <p>You can additionally pass a <code>compress</code> parameter if you would like the resulting CSS to be minified.</p>

  <h4>Example</h4>

  <pre><code>POST http://alloy.divshot.com/compile
Content-Type: application/json

{
  "type":"sass",
  "source":"@import \"compass\"\n\n.btn\n  @mixin border-radius(15px)\n  background-color: blue",
  "compress":true
}</code></pre>

  <h4>Calling Alloy From the Browser</h4>

  <p>Alloy supports Cross-Origin Resource Sharing (CORS) so you can safely make AJAX requests directly to the Alloy endpoint. Here's a jQuery
    example:</p>

  <pre><code class="language-javascript">$.ajax({
  url: "http://alloy.divshot.com/compile",
  type: "POST",
  dataType: "text",
  success: function(css) {
    $("#some-element").text(css);
  }
});</code></pre>
</div>

<script type="text/sass" id="sass-default">// Compass is available
@import "compass"

.btn
  +border-radius(12px)
  background: #06a</script>

<script type="text/scss" id="scss-default">// Compass is available
@import "compass";

.btn {
  @include border-radius(12px);
  background: #06a;
}</script>

<script type="text/less" id="less-default">.btn {
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: #06a;
}</script>

<script type="text/stylus" id="stylus-default">// Nib is available
@import "nib"

.btn
  border-radius 12px
  background #06a</script>