<h2><strong>Alloy</strong> is a web API for compiling CSS using preprocessors.</h2>

<form method="post" class="form-inline">
  <div id="editor"></div>
  <div class="well">
    <label class="radio" for="radio_sass"><input type="radio" id="radio_sass" name="type" value="sass" checked/> SASS</label>
    <label class="radio" for="radio_scss"><input type="radio" id="radio_scss" name="type" value="scss"/> SCSS</label>
    <label class="radio" for="radio_less"><input type="radio" id="radio_less" name="type" value="less"/> Less</label>
    <label class="radio" for="radio_stylus"><input type="radio" id="radio_stylus" name="type" value="stylus"/> Stylus</label>

    <label class="checkbox" for="field_compress"><input id="field_compress" type="checkbox" name="compress" value="true"/> Compress Output</label>
    <button type="submit" class="btn btn-large btn-success pull-right">Compile</button>
  </div>
</form>

<pre id='result' style="display: none;"><code class="language-css"></code></pre>

<div id='api-docs'>
  <h3>API Reference</h3>

  <p>To use the Alloy API, you will make a simple <code>post</code> request to <code>http://alloy.divshot.com/compile/:lang</code>, where
    <code>:lang</code> is one of <code>sass</code>, <code>scss</code>, <code>less</code>, or <code>stylus</code>. The request can either be of type <code>applicaton/json</code> or <code>application/x-www-form-encoded</code> and must include a <code>source</code> parameter
    with the uncompiled code.</p>

  <p>You can additionally pass a <code>compress</code> parameter if you would like the resulting CSS to be minified.</p>

  <h4>Example</h4>

  <pre><code>POST http://alloy.divshot.com/compile/sass
Content-Type: application/json

{"source":"@import \"compass\"\n\n.btn\n  @mixin border-radius(15px)\n  background-color: blue"}</code></div>


<script type="text/sass" id="sass-default">// Compass is available
@import "compass"

.btn
  +border-radius(12px)
  background: #06a</script>

<script type="text/scss" id="scss-default">// Compass is available
@import "compass";

.btn {
  @mixin border-radius(12px);
  background: #06a;
}</script>

<script type="text/less" id="less-default">.btn {
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: #06a;
}</script>

<script type="text/stylus" id="stylus-default">// Nib is available
@import "nib"

.btn
  border-radius 12px
  background #06a</script>