<ul class="nav nav-pills" id="processor-tabs">
  <li class="active"><a href="#sass" data-toggle="tab">SASS</a></li>
  <li><a href="#scss" data-toggle="tab">SCSS</a></li>
  <li><a href="#less" data-toggle="tab">Less</a></li>
  <li><a href="#stylus" data-toggle="tab">Stylus</a></li>
</ul>

<div id="processor-tabs-content" class="tab-content">
  <div class="tab-pane active" id="sass">
    <form action="/compile/sass" method="post">
      <textarea name="source" class="src">// Compass is available
@import "compass"

body
  background: white</textarea>
      <button type="submit" class="btn btn-large btn-success">Compile</button>
    </form>
  </div>

  <div class="tab-pane" id="scss">
    <form action="/compile/scss" method="post">
      <textarea name="source" class="src">@import "compass"; // Compass is available

body {
  background: white;
  // Your CSS here
}</textarea>
      <button type="submit" class="btn btn-large btn-success">Compile</button>
    </form>

    <!--<textarea readonly class="src result"></textarea>-->
  </div>

  <div class="tab-pane" id="less">
    <form action="/compile/less" method="post">
      <textarea name="source" class="src">body {
  background: white;
  // Your CSS here
}</textarea>
      <button type="submit" class="btn btn-large btn-success">Compile</button>
    </form>
  </div>

  <div class="tab-pane" id="stylus">
    <form action="/compile/stylus" method="post">
      <textarea name="source" class="src">@import "nib" // Nib is available

body
  background white</textarea>
      <button type="submit" class="btn btn-large btn-success">Compile</button>
    </form>
  </div>
</div>