<form method="post" class="form-inline">
  <div id="editor"></div>
  <div class="well">
    <label class="radio" for="radio_sass"><input type="radio" id="radio_sass" name="type" value="sass" checked/> SASS</label>
    <label class="radio" for="radio_scss"><input type="radio" id="radio_scss" name="type" value="scss"/> SCSS</label>
    <label class="radio" for="radio_less"><input type="radio" id="radio_less" name="type" value="less"/> Less</label>
    <label class="radio" for="radio_stylus"><input type="radio" id="radio_stylus" name="type" value="stylus"/> Stylus</label>

    <button type="submit" class="btn btn-large btn-success pull-right">Compile</button>
  </div>
</form>

<script type="text/javascript">
$(function() {
  var editor = ace.edit($("#editor")[0]);
  editor.setTheme("ace/theme/vibrant_ink");
  editor.setShowPrintMargin(false);
  editor.renderer.setShowGutter(false);
  editor.session.setTabSize(2);

  $("input[name=type]").change(function() {
    setType($("input[name=type]:checked").val());
  });

  $("form").submit(function(e) {
    e.preventDefault();
    var url = "/compile/" + $("input[name=type]:checked").val()
    $.ajax({
      url: url,
      type: 'POST',
      dataType: "text",
      data: {
        source: editor.session.getValue()
      },
      success: function(text) {
        console.log(text);
      }
    });
  });
});
</script>