<!doctype html>
<html>
  <head>
    <title>Universal CSS Preprocessor API - Divshot Chic</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/ace.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/theme-vibrant_ink.js"></script>
    <style>
      #editor {
        position: relative;
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
      }

      .btn-large {
        margin: -8px -10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class='page-header'><h1>Divshot <i>Chic</i></h1></div>
      <%= yield %>
    </div>
  </body>
</html>