<!doctype html>
<html>
  <head>
    <title>SASS, SCSS, LessCSS, and Stylus Web API - Divshot Alloy</title>
    <meta name="api_root" content="http://alloy.divshot.com">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="/stylesheets/application.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/ace.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/theme-vibrant_ink.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30884255-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <aside id="details" class="span3">
          <header>
            <img src="/images/glyph.png">
            <h1>Alloy From Divshot</h1>
            <ul id="share-buttons">
              <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=divshot&repo=alloy&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="107px" height="20px"></iframe></li>
              <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://divshot.com/alloy" data-count="horizontal" data-via="divshot">Tweet</a></li>
            </ul>
          </header>      
        </aside>
        <div id="content" class="span9">
          <%= yield %>
          <footer>
            <p>Divshot Alloy - Built by <a href="http://divshot.com" title="The Interface Builder for Web Apps" target="_blank">Divshot</a>.<br/>Licensed under the MIT License, source <a href="http://github.com/divshot/alloy">available on GitHub</a>.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </body>
</html>