<!doctype html>
<html>
  <head>
    <title>SASS, SCSS, LessCSS, and Stylus Web API - Divshot Alloy</title>
    <meta name="api_root" content="http://alloy.divshot.com">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="/stylesheets/code.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/ace.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/theme-vibrant_ink.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <style type="text/css">
      html { height: 100%; }
      body { background: #E4E4E4 url('/images/bg.jpg') top left repeat-x; height: 100%; padding-top: 42px; border-top: 3px solid #000; }
      #details { min-height: 40px; text-align: center; }
        header { position: fixed; }
        h1 { width: 218px; height: 78px; overflow: hidden; text-indent: -9999em; background: url('/images/logo.png') top left no-repeat; margin: 18px auto 0 auto; padding: 0 0 28px 0; border-bottom: 1px solid rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2); }
        h2 { color: #fff; font-weight: normal; margin: 0 0 16px 0; text-shadow: 0 0 3px rgba(0,0,0,.62); }
        h3, h4, h5, h6 { text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
        #share-buttons { margin: 28px 0 20px 24px; padding: 0; }
          #share-buttons li { display: inline-block; list-style: none; margin: 0 0 10px 0; padding: 0; }
      #content { color: #444; text-shadow: 0 1px 0 rgba(255,255,255,0.32); }
        #content p { margin: 0 0 20px 0; }
        textarea.src { width: 100%; height: 320px; font-size: 0.8em; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Courier New", Monaco, monospace;
        }
        #editor {
          position: relative;
          width: 100%;
          height: 300px;
          margin-bottom: 15px;
          border: .3em solid #333;
          border-radius: .5em;
          box-shadow: 1px 1px .5em black inset;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
        .ace_scroller { overflow-x: hidden !important; background: rgba(0,0,0,0.6) !important; border-radius: 4px 0 0 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-shadow: none; }
        div::-webkit-scrollbar { width: 8px; height: 8px; border-radius: 0 4px 4px 0;background: rgba(0,0,0,0.6) !important; }
        div::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece { background-color: transparent; }
        div::-webkit-scrollbar-thumb { width: 6px; height: 6px; background: rgba(255,255,255,0.3); border-radius: 4px; }
        div::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,0.82); }
        #result { margin: 10px 0 20px 0; }
        .btn-large {
          margin: -8px -10px;
        }
        .well { border: none; background: rgba(0,0,0,.06); }
        label { cursor: pointer; }
        .radio { padding-right: 12px; }
          .radio input { margin-right: 6px !important; }
        footer { color: #888; padding: 10px 0; }

        @media (max-width: 767px) {
          header { position: static; }
          h2 { color: #666; text-shadow: none; text-align: center; margin: 0 0 30px 0; }
            h2 strong { color: #333; }
        }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30884255-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <aside id="details" class="span3">
          <header>
            <img src="/images/glyph.png">
            <h1>Alloy From Divshot</h1>
            <ul id="share-buttons">
              <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=divshot&repo=alloy&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="107px" height="20px"></iframe></li>
              <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://divshot.com/alloy" data-count="horizontal" data-via="divshot">Tweet</a></li>
            </ul>
          </header>      
        </aside>
        <div id="content" class="span9">
          <%= yield %>
          <footer>
            <p>Divshot Alloy - Built by <a href="http://divshot.com" title="The Interface Builder for Web Apps" target="_blank">Divshot</a>.<br/>Licensed under the MIT License, source <a href="http://github.com/divshot/alloy">available on GitHub</a>.</p>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </body>
</html>