<input type="file" multiple id="files"/>

<form>
  <div id='style-list'>
  </div>
</form>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/spinejs/0.0.4/spine.min.js"></script>
<script type="text/javascript" src="/assets/package.js"></script>